In [1]:
import pandas as pd
import numpy as np
import datetime

In [2]:
#winter merge 
w2017 = "resources/winter/2017.csv"
w2018 = "resources/winter/2018.csv"
w2019 = "resources/winter/2019.csv"

# put into dataframes
w2017_df = pd.read_csv(w2017)
w2018_df = pd.read_csv(w2018)
w2019_df = pd.read_csv(w2019)

#change date column into datetime 
w2017_df['Date']=pd.to_datetime(w2017_df['Date'])
w2018_df['Date']=pd.to_datetime(w2018_df['Date'])
w2019_df['Date']=pd.to_datetime(w2019_df['Date'])

#merge
winter_citibike = pd.merge(w2017_df, w2018_df, how="outer")
winter_citibike = pd.merge(winter_citibike, w2019_df, how="outer")
winter_citibike

,Date,Trips over the past 24-hours (midnight to 11:59pm),Miles traveled today (midnight to 11:59 pm),Total Annual Members (All Time),24-Hour Passes Purchased (midnight to 11:59 pm),3-Day Passes Purchased (midnight to 11:59 pm)
0,2017-01-01,16009,50761,206624,1237,33
1,2017-01-02,8921,21545,206675,142,15
2,2017-01-03,14198,25879,206728,42,15
3,2017-01-04,34039,69966,206778,475,29
4,2017-01-05,28393,52446,206845,214,17
5,2017-01-06,24177,48964,206879,157,17
6,2017-01-07,4425,23556,206892,21,4
7,2017-01-08,6417,22756,206907,27,2
8,2017-01-09,15856,35209,206933,30,2
9,2017-01-10,23232,46216,206955,67,12
10,2017-01-11,32419,63099,206981,208,37
11,2017-01-12,39783,84763,207021,479,30
12,2017-01-13,33611,75847,207059,373,43
13,2017-01-14,13819,43090,207087,252,33
14,2017-01-15,17384,50738,207120,476,19
15,2017-01-16,24110,51664,207163,448,30
16,2017-01-17,18646,40697,207198,63,15
17,2017-01-18,30857,57978,207224,146,17
18,2017-01-19,36561,72077,207262,391,27
19,2017-01-20,26752,56479,207288,184,19
20,2017-01-21,26610,64662,207336,957,31
21,2017-01-22,20523,49368,207368,520,25
22,2017-01-23,15822,37687,207399,54,20
23,2017-01-24,13171,35619,207414,28,5
24,2017-01-25,36931,71418,207453,301,29
25,2017-01-26,33002,63750,207501,223,28
26,2017-01-27,32394,70189,207540,231,23
27,2017-01-28,21302,53955,207567,402,25
28,2017-01-29,22527,62854,207620,585,26
29,2017-01-30,29616,59975,207673,163,32
...,...,...,...,...,...,...
223,2019-02-13,35523,48870,299551,439,21
224,2019-02-14,42313,61381,299589,773,26
225,2019-02-15,47524,74286,299633,1590,58
226,2019-02-16,31347,52760,299683,2030,58
227,2019-02-17,24287,39660,299711,1439,30
228,2019-02-18,26176,37500,299757,810,17
229,2019-02-19,35226,49024,299810,595,10
230,2019-02-20,20694,28763,299835,221,15
231,2019-02-21,40082,60375,299871,961,37
232,2019-02-22,42338,61956,299913,1097,49
233,2019-02-23,31956,49887,299956,1635,28
234,2019-02-24,24503,37473,299993,992,19
235,2019-02-25,34736,47207,300029,495,14
236,2019-02-26,38126,52805,300067,524,23
237,2019-02-27,37028,48666,300097,464,27
238,2019-02-28,38784,53031,300157,652,30
239,2019-03-01,30242,41583,300183,522,26
240,2019-03-02,18001,27381,300213,570,25
241,2019-03-03,23240,35764,300264,1115,22
242,2019-03-04,28424,39154,300319,563,23
243,2019-03-05,37103,50155,300367,552,24
244,2019-03-06,33287,42845,300409,376,27
245,2019-03-07,35913,46582,300450,468,15
246,2019-03-08,40416,55748,300503,852,32
247,2019-03-09,38929,68739,300574,3010,35
248,2019-03-10,18897,28056,300611,662,16
249,2019-03-11,52412,80705,300691,1749,56
250,2019-03-12,47214,66518,300757,1003,40
251,2019-03-13,50121,71552,300825,1194,42
252,2019-03-14,57464,86864,300904,1826,82

In [3]:
#spring merge 
sp2017 = "resources/spring/2017.csv"
sp2018 = "resources/spring/2018.csv"

# put into dataframes
sp2017_df = pd.read_csv(sp2017)
sp2018_df = pd.read_csv(sp2018)

#change date column into datetime 
sp2017_df['Date']=pd.to_datetime(sp2017_df['Date'])
sp2018_df['Date']=pd.to_datetime(sp2018_df['Date'])

#merge
spring_citibike = pd.merge(sp2017_df, sp2018_df, how="outer")
spring_citibike

,Date,Trips over the past 24-hours (midnight to 11:59pm),Miles traveled today (midnight to 11:59 pm),Total Annual Members (All Time),24-Hour Passes Purchased (midnight to 11:59 pm),3-Day Passes Purchased (midnight to 11:59 pm)
0,2017-04-01,23849,67299,210739,767,43
1,2017-04-02,39779,130087,210915,3639,58
2,2017-04-03,43484,104217,211075,970,68
3,2017-04-04,29990,63091,211171,183,23
4,2017-04-05,47635,108281,211310,1192,59
5,2017-04-06,18020,44411,211362,67,12
6,2017-04-07,35779,81358,211440,456,43
7,2017-04-08,35936,108886,211589,2719,83
8,2017-04-09,43895,137240,211806,4390,114
9,2017-04-10,50422,124356,212050,2164,139
10,2017-04-11,57309,150222,212298,2699,135
11,2017-04-12,51188,113959,212484,1493,108
12,2017-04-13,52915,131228,212648,2388,129
13,2017-04-14,52230,149382,212812,3451,273
14,2017-04-15,42531,134526,212950,3981,235
15,2017-04-16,48137,157912,213172,6143,361
16,2017-04-17,53247,127619,213385,2019,234
17,2017-04-18,53809,126129,213580,1624,194
18,2017-04-19,45788,97587,213703,738,55
19,2017-04-20,44260,108427,213819,1065,172
20,2017-04-21,39868,92348,213913,1194,129
21,2017-04-22,34596,101444,214028,5173,102
22,2017-04-23,49106,142563,214278,4541,420
23,2017-04-24,48692,103241,214462,1143,123
24,2017-04-25,20332,47829,214552,201,36
25,2017-04-26,37727,81859,214654,595,109
26,2017-04-27,52035,122394,214793,1412,266
27,2017-04-28,62199,163665,214965,2963,458
28,2017-04-29,57701,180290,215219,5699,562
29,2017-04-30,42928,125305,215455,2921,340
...,...,...,...,...,...,...
152,2018-06-01,62890,147780,269167,3049,250
153,2018-06-02,60287,158528,269371,5634,307
154,2018-06-03,50041,134416,269544,3892,154
155,2018-06-04,58910,130774,269763,2372,166
156,2018-06-05,71906,155007,269934,2682,199
157,2018-06-06,69797,154726,270119,2479,173
158,2018-06-07,70478,160532,270274,2808,198
159,2018-06-08,72696,163188,270455,3915,283
160,2018-06-09,65239,171623,270657,6917,292
161,2018-06-10,41639,106867,270825,3136,112
162,2018-06-11,68060,154381,271146,3044,243
163,2018-06-12,76255,166828,271364,3260,215
164,2018-06-13,64270,144934,271541,2044,104
165,2018-06-14,75803,173109,271708,3359,227
166,2018-06-15,72417,160081,271883,4005,296
167,2018-06-16,63182,165240,272071,7037,339
168,2018-06-17,56218,146611,272306,5760,232
169,2018-06-18,63551,136481,272522,2498,206
170,2018-06-19,72168,153883,272780,2902,230
171,2018-06-20,74088,165836,272950,2929,231
172,2018-06-21,70050,158375,273114,3026,262
173,2018-06-22,71084,156062,273291,3736,263
174,2018-06-23,51028,118620,273422,4172,207
175,2018-06-24,55775,152057,273615,5862,232
176,2018-06-25,71747,163026,273820,3441,221
177,2018-06-26,80643,171973,274006,3442,254
178,2018-06-27,67647,140557,274165,2457,183
179,2018-06-28,50431,104860,274290,1967,154
180,2018-06-29,69856,151785,274467,3940,326
181,2018-06-30,54713,134347,274628,5425,360

In [4]:
#spring merge 
s2017 = "resources/summer/2017.csv"
s2018 = "resources/summer/2018.csv"

# put into dataframes
s2017_df = pd.read_csv(s2017)
s2018_df = pd.read_csv(s2018)

#change date column into datetime 
s2017_df['Date']=pd.to_datetime(s2017_df['Date'])
s2018_df['Date']=pd.to_datetime(s2018_df['Date'])

#merge
summer_citibike = pd.merge(sp2017_df, s2018_df, how="outer")
summer_citibike

,Date,Trips over the past 24-hours (midnight to 11:59pm),Miles traveled today (midnight to 11:59 pm),Total Annual Members (All Time),24-Hour Passes Purchased (midnight to 11:59 pm),3-Day Passes Purchased (midnight to 11:59 pm)
0,2017-04-01,23849,67299,210739,767,43
1,2017-04-02,39779,130087,210915,3639,58
2,2017-04-03,43484,104217,211075,970,68
3,2017-04-04,29990,63091,211171,183,23
4,2017-04-05,47635,108281,211310,1192,59
5,2017-04-06,18020,44411,211362,67,12
6,2017-04-07,35779,81358,211440,456,43
7,2017-04-08,35936,108886,211589,2719,83
8,2017-04-09,43895,137240,211806,4390,114
9,2017-04-10,50422,124356,212050,2164,139
10,2017-04-11,57309,150222,212298,2699,135
11,2017-04-12,51188,113959,212484,1493,108
12,2017-04-13,52915,131228,212648,2388,129
13,2017-04-14,52230,149382,212812,3451,273
14,2017-04-15,42531,134526,212950,3981,235
15,2017-04-16,48137,157912,213172,6143,361
16,2017-04-17,53247,127619,213385,2019,234
17,2017-04-18,53809,126129,213580,1624,194
18,2017-04-19,45788,97587,213703,738,55
19,2017-04-20,44260,108427,213819,1065,172
20,2017-04-21,39868,92348,213913,1194,129
21,2017-04-22,34596,101444,214028,5173,102
22,2017-04-23,49106,142563,214278,4541,420
23,2017-04-24,48692,103241,214462,1143,123
24,2017-04-25,20332,47829,214552,201,36
25,2017-04-26,37727,81859,214654,595,109
26,2017-04-27,52035,122394,214793,1412,266
27,2017-04-28,62199,163665,214965,2963,458
28,2017-04-29,57701,180290,215219,5699,562
29,2017-04-30,42928,125305,215455,2921,340
...,...,...,...,...,...,...
153,2018-09-01,54318,116904,285245,6711,439
154,2018-09-02,60828,140923,285368,5562,292
155,2018-09-03,55067,117164,285609,6239,279
156,2018-09-04,68655,114264,285867,2793,215
157,2018-09-05,74981,124919,286102,2934,191
158,2018-09-06,70264,113123,286304,2678,207
159,2018-09-07,74586,127470,286475,3523,227
160,2018-09-08,58284,111254,286637,5442,270
161,2018-09-09,19950,30544,286752,895,16
162,2018-09-10,23949,32472,286847,463,26
163,2018-09-11,66552,109380,286985,2456,193
164,2018-09-12,53241,82748,287120,1650,115
165,2018-09-13,74054,123401,287262,2874,197
166,2018-09-14,74330,128288,287412,3623,298
167,2018-09-15,71185,149524,287622,7570,353
168,2018-09-16,69515,150281,287897,7410,270
169,2018-09-17,71340,118809,288137,2914,162
170,2018-09-18,53077,82768,288266,1433,74
171,2018-09-19,74372,129089,288450,3529,290
172,2018-09-20,76803,129385,288599,3130,235
173,2018-09-21,74940,128273,288719,3677,224
174,2018-09-22,69133,142121,289160,7511,298
175,2018-09-23,55494,104944,289370,4716,184
176,2018-09-24,71631,115888,289524,2615,289
177,2018-09-25,25430,35795,289591,506,65
178,2018-09-26,68007,110772,289698,2423,296
179,2018-09-27,75370,126480,289829,3044,399
180,2018-09-28,57230,90249,289911,1986,296
181,2018-09-29,69321,145920,290170,6960,906
182,2018-09-30,66224,139423,290467,6367,675

In [5]:
#fall merge 
f2017 = "resources/fall/2017.csv"
f2018 = "resources/fall/2018.csv"

# put into dataframes
f2017_df = pd.read_csv(f2017)
f2018_df = pd.read_csv(f2018)

#change date column into datetime 
f2017_df['Date']=pd.to_datetime(f2017_df['Date'])
f2018_df['Date']=pd.to_datetime(f2018_df['Date'])

#merge
fall_citibike = pd.merge(f2017_df, f2018_df, how="outer")
fall_citibike

,Date,Trips over the past 24-hours (midnight to 11:59pm),Miles traveled today (midnight to 11:59 pm),Total Annual Members (All Time),24-Hour Passes Purchased (midnight to 11:59 pm),3-Day Passes Purchased (midnight to 11:59 pm)
0,2017-10-01,55503,139011,246193,3511,235
1,2017-10-02,65509,141748,246402,1408,242
2,2017-10-03,69105,135800,246566,1258,194
3,2017-10-04,71453,150324,246742,1377,188
4,2017-10-05,70173,150437,246893,1365,251
5,2017-10-06,70249,148395,247025,2104,383
6,2017-10-07,63630,153928,247206,4996,356
7,2017-10-08,41039,100790,247336,2233,192
8,2017-10-09,38390,78912,247453,594,84
9,2017-10-10,74117,155978,247615,2016,312
10,2017-10-11,63587,126748,247767,1146,161
11,2017-10-12,61244,123433,247896,1070,169
12,2017-10-13,67016,136608,248038,1768,308
13,2017-10-14,58771,142476,248167,3680,347
14,2017-10-15,56529,137364,248382,3381,276
15,2017-10-16,61729,125800,248552,997,192
16,2017-10-17,64480,122345,248712,1030,170
17,2017-10-18,70233,147842,248878,1202,249
18,2017-10-19,72311,143664,249016,1491,274
19,2017-10-20,72174,157255,249162,2246,351
20,2017-10-21,65872,169402,249378,5093,276
21,2017-10-22,62148,153444,249596,4596,200
22,2017-10-23,69273,143899,249825,1659,279
23,2017-10-24,48077,95599,249930,466,82
24,2017-10-25,71284,142007,250090,1133,246
25,2017-10-26,64002,123419,250187,973,191
26,2017-10-27,69265,139481,250319,1991,352
27,2017-10-28,61345,143571,250499,4306,317
28,2017-10-29,9537,20810,250556,213,8
29,2017-10-30,49246,95502,250681,771,121
...,...,...,...,...,...,...
154,2018-12-02,18418,26501,296584,554,11
155,2018-12-03,53974,85524,296664,1308,62
156,2018-12-04,49058,71843,296708,867,27
157,2018-12-05,46779,67536,296753,814,38
158,2018-12-06,46543,66885,296798,910,40
159,2018-12-07,43841,63353,296843,948,52
160,2018-12-08,29909,44552,296867,1271,46
161,2018-12-09,27547,40886,296897,1064,23
162,2018-12-10,43358,62699,296938,762,25
163,2018-12-11,47335,68321,296974,823,20
164,2018-12-12,47717,68600,297005,748,28
165,2018-12-13,40736,57295,297042,593,14
166,2018-12-14,44775,66633,297078,1137,44
167,2018-12-15,36423,57244,297119,1902,45
168,2018-12-16,9835,13599,297131,203,4
169,2018-12-17,45382,66449,297173,909,32
170,2018-12-18,41703,58360,297205,656,22
171,2018-12-19,44096,63165,297238,877,22
172,2018-12-20,34026,48713,297269,751,20
173,2018-12-21,23996,34450,297290,481,24
174,2018-12-22,24870,36653,297327,1088,25
175,2018-12-23,22230,35921,297355,1298,37
176,2018-12-24,18990,27246,297387,681,18
177,2018-12-25,11177,21483,297426,1080,38
178,2018-12-26,25358,39176,297487,1118,49
179,2018-12-27,31169,48943,297527,1510,51
180,2018-12-28,12039,17576,297555,334,25
181,2018-12-29,29037,54116,297622,2677,104
182,2018-12-30,22536,37741,297682,1562,51
183,2018-12-31,18936,29794,297748,962,31

In [11]:
#total merge 
first_citibike = pd.merge(winter_citibike, spring_citibike, how="outer")
second_citibike = pd.merge(summer_citibike, fall_citibike, how="outer")
citibike = pd.merge(first_citibike, second_citibike, how="outer")
citibike.to_csv("Daily Ridership.csv", index=False)